<h1>Create a new List</h1>
<div class="card col-md-6 bg-light rounded-3">
  <div class="card-body ">
    <%= simple_form_for(@list) do |f| %>
      <div class="mb-3">
        <%= f.label :name, class: "form-label" %>
        <%= f.text_field :name, class: "form-control" %>
      </div>
      <div class="mb-3">
        <%= f.submit "Create List", class: "btn btn-primary" %>
      </div>
    <% end %>
  </div>
</div>


<%= link_to lists_path do %>
  <button type="button" class="btn btn-primary btn-sm my-3">Return Home</button>
<% end %>
