<h1><%= @list.name %></h1>
<div class="row row-cols-1 row-cols-md-2 g-4">
  <% @list.bookmarks.each do |bookmark| %>
    <div class="col">
      <div class="card">
        <%= image_tag(bookmark.movie.poster_url) %>
        <div class="card-body bg-secondary bg-gradient bg-opacity-25">
          <p class="card-text">
            <%= bookmark.movie.title %>
              <%= link_to bookmark_path(bookmark), data: { turbo_method: :delete, turbo_confirm: "Are you sure you want to delete this Movie?" } do %>
                <i class="fa-solid fa-delete-left"></i><span class="mx-1">Delete</span>
              <% end %>
          </p>
        </div>
      </div>
    </div>
  <% end %>
</div>

<%= link_to lists_path do %>
  <button type="button" class="btn btn-primary btn-ms my-3 rounded-5">Back to Lists</button>
<% end %>



      <%= simple_form_for([@list, @bookmark]) do |f| %>
      <%= f.input :comment%>
      <%= f.input :movie, collection: @list.movie_not_list%>
      <%= f.submit class: "btn btn-primary btn-sm my-3" %>
      <% end %>
